<div class="item">
  <span [ngClass]="{ 'item--completed': todo.completed }">
    {{ todo.title }}
  </span>

  <div class="item__buttons">
    <app-button
      *ngIf="!todo.completed"
      [label]="completeLabel"
      [type]="createType"
      [icon]="checkIcon"
      (onClick)="onHandleTodo(todo.id, createType)"
    ></app-button>
    <app-button
      [label]="removeLabel"
      [type]="removeType"
      [icon]="trashIcon"
      (onClick)="onHandleTodo(todo.id, removeType)"
    ></app-button>
  </div>
</div>
