.todo-form {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__input {
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 8px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .todo-form {
    &__input {
      width: 100%;
    }
  }
}
