.todo-form {
  display: flex;
  flex-direction: row;
  gap: 10px;

  &__input {
    box-sizing: border-box;
    padding: 8px;
    width: 300px;
  }
}

// ToDo: conferir o max-width
@media screen and (max-width: 600px) {
  .todo-form {
    flex-direction: column;

    &__input {
      width: 100%;
    }
  }
}
