.button {
  border: none;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  height: 100%;
  padding: 8px 16px;
  width: 100%;

  &__icon {
    display: none;
  }

  &--remove {
    background-color: var(--remove-btn);
  }

  &--success {
    background-color: var(--success-btn);
  }

  &--disabled {
    background-color: var(--disabled-btn);
    cursor: not-allowed;
  }
}

@media screen and (max-width: 500px) {
  .button {
    &__icon {
      display: unset;
    }

    &__label {
      display: none;
    }
  }
}
